<ion-view view-title="Add Cat">
  <ion-content class="padding" >
  <!-- Ask the user for -->
  <!-- Cat Name -->
  <div class="form-group">
   <label for="catname">Cat Name: </label><input id="catname" ng-model="newCat.catName" class="form-control">
  </div>
    
  <!-- Cat Owner -->
  <div class="form-group">
    <label for="ownername">Owner Name: </label><input id="ownername" ng-model="newCat.ownerName" class="form-control">
  </div>
  <!-- Cat Vet -->
  <div class="form-group">
    <label for="vetname">Vet Name: </label><input id="vetname" ng-model="newCat.vetName" class="form-control">
  </div>
  <!-- Cat Email ([email]@catmail.com)-->
  <div class="form-group">
    <label for="catmail">Catmail ID: </label><input id="catmail" ng-model="newCat.catMailId" class="form-control">
  </div>
    
  <!-- Cat address -->
  <div class="form-group">
    <label for="address">Address: </label><input id="address" ng-model="newCat.address" class="form-control"><br>
  </div>
    
  <button ng-click="addCat()" class="btn btn-default">Add Cat</button>

  </ion-content>
</ion-view>
