<ion-view view-title="Add Cat">
  <ion-content class="padding">
  <!-- Ask the user for -->
  <!-- Cat Name -->
    <label for="catname">Cat Name: </label><input id="catname"><br>
  <!-- Cat Owner -->
    <label for="ownername">Owner Name: </label><input id="ownername"><br>
  <!-- Cat Vet -->
    <label for="vetname">Vet Name: </label><input id="vetname"><br>
  <!-- Cat Email ([email]@catmail.com)-->
    <label for="catmail">Catmail ID: <input id="catmail"> @catmail.com</label><br>
  <!-- Cat address -->
    <label for="address">Address: </label><input id="address"><br>

    <button>Add Cat</button>

  </ion-content>
</ion-view>
