<ion-view view-title="Dashboard" ng-class="style">
  <ion-content class="padding">
  <p>A cat named Jenny liked you.</p>
  <p>A cat named Jessie liked you.</p>
  <p>A cat named Mewmew liked you.</p>
  <p>A cat named Jack liked you.</p>
  <p>A cat named Rock liked you.</p>
  <p>A cat named Angelica liked you.</p>
  <p>A cat named Sixteen liked you.</p>
  <p>A cat named Sally Martin said hi.</p>
  <button ng-click="changeTextColor()" class="btn btn-default">Light up</button>
  </ion-content>
</ion-view>
