/* Empty. Add your own CSS if you like */
.body  {
    background-image: url("../img/catscannerback.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.yellow {
    color: yellow;
}

.white{
    color: white;
}

